version: 1.0.{build}
matrix:
  fast_finish: true
  allow_failures:
    - platform: x86
      configuration: Debug
    - platform: AnyCPU
      configuration: Release
before_build:
  - nuget restore src/LogViewer.sln
build:
  project: src/LogViewer.sln
  verbosity: minimal
